html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family: Arial, Helvetica, sans-serif

#game
  width: 360px
  margin: 0 auto
  #hint
    margin-bottom: 1em

  table
    border-collapse: collapse

    td
      width: 34px
      height: 34px
      border: 1px solid #333
      color: #00f
      font: normal 20px Arial
      text-align: center

      &.given
        color: #000
      &.hinted
        background: #ff8
      &.selected
        background: #8ff

    .r1, .r4, .r7
      td
        border-top: 2px solid #333
    .r9
      td
        border-bottom: 2px solid #333

    .c1, .c4, .c7
      border-left: 2px solid #333

    .c9
      border-right: 2px solid #333

button
  min-width: 32px
  height: 40px
  border: 1px solid #00f
  margin: 10px 2px 0 0
  padding: 0 6px
  text-align: center
  vertical-align: middle
  font: normal 20px Arial
  color: #00f
  outline: none
  background: transparent

